.Section{
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://wallpapercave.com/wp/wp3064208.jpg);
}




* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: flex; }
img {vertical-align: middle;}

h3 {
    text-align: center;
    position: relative;
    width: 100%;
}
.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

/* container */


.mySlides {
    width: 80%;
    position: relative;
    margin: auto; 
}

.products {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.product {
    width: 25%;
    margin-bottom: 10px;
}

.each-product {
    position: relative;
    padding: 10px;
}
 
/* product text */
.product_name {
    text-align: center;
    text-decoration: underline;
    font-size: 1em;
}

.product_price {
    text-align: center;
    font-size: 0.85em;
}
.product_discount {
    text-align: center;
    font-size: 0.85em;
    color:red;
}

.product_ex {
    text-align: center;
    font-size: 0.8em;
}

/* Caption text */
.text {
    color: #747704;
    font-size: 15px;
    padding: 8px 12px;
    position: relative;
    top: 8px;
    width: 100%;
    text-align: center;
}


/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
}